@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;

}

.container{
    width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    max-width: 600px;
    
}

.container .left-side{
    width: 50%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: hsl(252, 100%, 67%);
    border-radius: 8px;
}

.left-side h2{
    color: #333;
    margin: 20px 0;
    letter-spacing: 1px;
    padding: 10px 20px;
}

.left-side .circle{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(241, 52%, 54%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin: 10px 0 10px 0;
}

.circle span{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1px;
}

.circle p {
    color: #cec7c7;
    font-size: 18px;
}


.content{
    margin: 20px;
    padding: 0 10px;
}

.content h3{
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.content p {
    font-size: 18px;
    margin-bottom: 10px;

}

/* right side  */

.right-side{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    width: 50%;
}

.right-side h2{
    color: #333;
    margin: 20px 0;
    letter-spacing: 1px;
}

.right-side .abilities{
    display: flex;
    flex-direction: column;
    width: 90%;

}

.right-side .flex-item{
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    background-color: gray;
    align-items: center;
    border-radius: 6px;
    padding: 0 10px;
}


.right-side .flex-item:nth-child(1){
    color: rgb(162, 26, 26);
    background-color: rgb(230, 175, 175);
}

.right-side .flex-item:nth-child(2){
    background-color: rgb(232, 232, 207);
    color: yellow;
}

.right-side .flex-item:nth-child(3){
    background-color: rgb(145, 163, 145);
    color: green;
}

.right-side .flex-item:nth-child(4){
   background-color: rgb(201, 201, 224);
   color: blue;
   margin-bottom: 20px;
}

.flex-item h4{
    color: black;
}

.flex-item span{
    color: #333 ;
}

button{
    border: 0;
    background: hsl(252, 100%, 67%);
    height: 40px;
    border-radius: 18px;
    color: #fff;
    font-size: 18px;
}


button:hover{
    opacity: 0.7;
}

button:active{
    transform: scale(0.98);
}

@media screen and (max-width: 375px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}